<!-- Navbar / Menu principal -->
<nav class="flex items-center justify-between p-4 bg-wine-700">
  <a routerLink="" class="text-white text-xl font-bold">
    Loja da Jamis
  </a>
  <ul class="flex space-x-4">
    <li>
      <a routerLink="" class="text-white hover:underline">
        Início
      </a>
    </li>
    <li>
      <a routerLink="galeria" class="text-white hover:underline">
        Galeria
      </a>
    </li>
  </ul>
</nav>

<!-- Aqui é onde cada página (rota) será carregada -->
<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 Loja Jamis</p>
</footer>
